html, body {
  height: 100%;
}
#festivusTitle {
  padding-left: 10px;
  padding-right: 10px;
}
#jerryMood1,
#jerryMood2 {
  height: 200px;
}
#festivusPole {
  height: 400px;
}
#festivusCountdownText {
  padding-top: 10px;
}